In [1]:
import pandas as pd

In [31]:
#Load Data
data = pd.read_csv('iphone_buy_records.csv')
data.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [4]:
data.describe()

              Age         Salary  Purchase Iphone
count  400.000000     400.000000       400.000000
mean    37.655000   69742.500000         0.357500
std     10.482877   34096.960282         0.479864
min     18.000000   15000.000000         0.000000
25%     29.750000   43000.000000         0.000000
50%     37.000000   70000.000000         0.000000
75%     46.000000   88000.000000         1.000000
max     60.000000  150000.000000         1.000000

In [5]:
data.isnull()

     Gender    Age  Salary  Purchase Iphone
0     False  False   False            False
1     False  False   False            False
2     False  False   False            False
3     False  False   False            False
4     False  False   False            False
..      ...    ...     ...              ...
395   False  False   False            False
396   False  False   False            False
397   False  False   False            False
398   False  False   False            False
399   False  False   False            False

[400 rows x 4 columns]

In [6]:
X = data.iloc[:,:-1].values
y = data.iloc[:, 3].values

In [13]:
#Convert Gender to number
from sklearn.preprocessing import LabelEncoder
LabelEncoder_gender = LabelEncoder()
X[:,0] = LabelEncoder_gender.fit_transform(X[:,0])

In [11]:
#convert X to float data type
import numpy as np
X = np.vstack(X[:, :]).astype(np.float)

In [15]:
#Split Data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [16]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
#Logistic Regression Classifier
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state=0, solver="liblinear")
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
#Predict
y_pred = classifier.predict(X_test)

In [21]:
from sklearn import metrics
cm = metrics.confusion_matrix(y_test, y_pred) 
print(cm)
accuracy = metrics.accuracy_score(y_test, y_pred) 
print("Accuracy score:",accuracy)
precision = metrics.precision_score(y_test, y_pred) 
print("Precision score:",precision)
recall = metrics.recall_score(y_test, y_pred) 
print("Recall score:",recall)

[[65  3]
 [ 6 26]]
Accuracy score: 0.91
Precision score: 0.896551724137931
Recall score: 0.8125

In [26]:
#Make New Predictions
person_x = sc.transform([[1,41,80000]])
print("Male aged 21 making $40k will buy iPhone:", classifier.predict(person_x))

Male aged 21 making $40k will buy iPhone: [1]

In [30]:
person_y = sc.transform([[2,25,80000]])
print("Female aged 21 making $40k will buy iPhone:", classifier.predict(person_y))

Female aged 21 making $40k will buy iPhone: [0]